@import url('https://fonts.googleapis.com/css2?family=Anton&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* from darkest to lightest */
    --blue-1: #03045E;
    --blue-2: #023E8A;
    --blue-3: #0077B6;
    --blue-4: #0096C7;
    --blue-5: #00B4D8;
}

.just-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.first_sec {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    color: antiquewhite;
    background-image: url("image/bg-image1.jpg");
    background-size: cover;
}

.nav {
    z-index: 2;
    width: 100vw;
    height: 3rem;
    position: fixed;
    display: flex;
    justify-content: right;
    top: 0;
    background-color: var(--blue-1);
}

.nav ul {
    display: flex;
    justify-content: right;
    position: relative;
    right: 1rem;
    gap: 4rem;
    font-size: 1.8rem;
}

.nav ul li {
    transition: transform 0.05s linear 0s;
}

@media (min-width: 1000px) {
    .nav ul li:hover {
        transform: translate(-0.1rem, -0.5rem);
    }

    .nav ul {
        padding-top: 0.5rem;
    }
}

.name {
    z-index: 1;
    text-align: center;
    position: relative;
    font-size: 5rem;
    font-weight: 800;
}

.show {
    /* height: 40vh; */
    height: auto;
}

.desc {
    opacity: 0;
    position: relative;
    font-size: 2.5rem;
    animation: see 2s cubic-bezier(0.22, 0.91, 0.41, 0.69) 1s forwards;
}

@keyframes see {
    0% {
        opacity: 0;
        transform: translateY(-50%)
    }

    40% {
        opacity: 1;
        font-weight: 400;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.about {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

@media (min-width: 1000px) {
    .about {
        justify-content: space-around;
    }
}

.aboutleft {
    width: 60rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.aboutright {
    padding-left: 4rem;
    padding-top: 1rem;
    display: flex;
    justify-content: end;
}

.aboutright img {
    height: 38rem;
    border-radius: 0.9rem;
    transition: transform 0.1s ease-in 0s;
}

.aboutright img:hover {
    transform: translate(-0.2rem, -0.4rem);
    box-shadow: 0.1rem 0.1rem 0.4rem 0.2rem black;
}

.abouthead {
    font-size: 7rem;
    font-weight: 900;
}

.aboutdetail {
    font-size: 1.5rem;
}

.left {
    text-align: center;
    font-size: 1.6rem;
}

.int_text .heading {
    font-weight: 800;
    font-size: 4rem;
}

.cards {
    display: flex;
    padding-left: 1rem;
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    height: 12rem;
    width: 12rem;
    border-radius: 40px;
    position: absolute;
    top: 217vh;
    right: 15vw;
    text-shadow: 2px 2px 2px grey;
    overflow: hidden;
    transition: all 0.5s ease;
    box-shadow: 0.1rem 0.1rem 0.7rem 0.1rem black;
}

#c1 {
    background-color: var(--blue-1);
    transform: rotate(52deg);
    animation: go1 8s ease-in-out 0s infinite;
}

#c2 {
    background-color: var(--blue-2);
    transform: rotate(39deg);
    animation: go2 8s ease-in-out 0s infinite;
}

#c3 {
    font-family: "Pixelify Sans", sans-serif;
    background-color: var(--blue-3);
    transform: rotate(26deg);
    animation: go3 8s ease-in-out 0s infinite;
}

#c4 {
    background-color: var(--blue-4);
    transform: rotate(13deg);
    animation: go4 8s ease-in-out 0s infinite;
}

#c5 {
    background-color: var(--blue-5);
    padding: 0;
}

.interests {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

@keyframes go1 {
    50% {
        transform: translateY(-13rem);
    }
    100% {
        transform: rotate(52deg);
    }
}

@keyframes go2 {
    50% {
        transform: translateX(-13rem);
    }
    100% {
        transform: rotate(39deg);
    }
}

@keyframes go3 {
    50% {
        transform: translateY(13rem);
    }
    100% {
        transform: rotate(26deg);
    }
}

@keyframes go4 {
    50% {
        transform: translateX(14rem);
    }
    100% {
        transform: rotate(13deg);
    }
}

hr {
    position: relative;
    background-color: black;
    height: 0.01rem;
    box-shadow: 0.1rem 0.08rem 0.04rem 0.1px;
}

.skill-title {
    padding-top: 2rem;
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.skill-cards {
    padding-top: 4rem;
    text-align: center;
    padding-left: 1rem;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
    height: 14rem;
    width: 20rem;
    border-radius: 3rem;
    margin-top: 1rem;
    background-color: rgba(0, 0, 100, 0.9);
    z-index: 1;
    box-shadow: 0.1rem 0.2rem 0.6rem 0.1rem black;
}

.skill-1-title {
    transition: opacity 0.2s ease-in;
    position: relative;
    top: 3rem;
    font-family: "JetBrains Mono", monospace;
}

.skill-1-desc {
    transition: opacity 0.2s ease-in 0.2s;
    opacity: 0;
    font-family: "JetBrains Mono", monospace;
}

#skill-card1:hover .skill-1-title {
    opacity: 0;
}

#skill-card1:hover .skill-1-desc {
    opacity: 1;
}

.skill-2-title {
    transition: opacity 0.2s ease-in;
    position: relative;
    top: 3rem;
    font-family: "Pixelify Sans", sans-serif;
}

.skill-2-desc {
    transition: opacity 0.2s ease-in 0.2s;
    opacity: 0;
    font-family: "Pixelify Sans", sans-serif;
}

#skill-card2:hover .skill-2-title {
    opacity: 0;
}

#skill-card2:hover .skill-2-desc {
    opacity: 1;
}

.proj-title {
    text-align: center;
    padding-top: 2rem;
    font-size: 6rem;
    margin-bottom: 6rem;
    font-weight: 900;
}

.projects hr {
    position: relative;
    left: 10vw;
    background-color: black;
    height: 0.01rem;
    width: 80vw;
    box-shadow: 0.1rem 0.08rem 0.04rem 0.1px;
}

#hr1 {
    left: 0;
}

#hr2 {
    left: 20vw;
}

.p1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.projects img {
    padding-left: 2rem;
    height: 3rem;
}

@keyframes butt {
    100% {
        height: 5rem;
    }
}

.proj-left img:hover {
    animation: butt 0.2s linear 0s forwards;
}

.proj-left img:active {
    animation: butt 0.2s linear 0s reverse;
}

.proj-desc {
    text-align: left;
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

.proj-left {
    padding-left: 2rem;
    padding-right: 2rem;
}

.title1 {
    display: flex;
    font-size: 5rem;
    font-weight: 700;
    color: var(--blue-1);
}


@media (min-width: 1000px) {
    .title1 {
        width: 50vw;
    }

    .title2 {
        width: 50vw;
        justify-content: right;
        padding-right: 3rem;
    }

    .title3 {
        width: 50vw;
        padding-left: 3rem;
    }
}


.arrow img {
    position: relative;
    width: 18rem;
    height: 12rem;
    /* right: 1rem; */
    border-radius: 2rem;
    padding: 0.5rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.link {
    width: 50vw;
    display: flex;
}

.contacts {
    padding-top: 10vh;
    background-image: url("image/bg-image2.jpg");
    color: white;
    font-size: 2rem;
    display: block;
}

.contact-links {
    display: flex;
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    gap: 29vw;
}

@media (min-width: 1000px) {
    .contacts ul li {
        padding: 1.5rem 0;
    }
}

.container {
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.contact-links img {
    height: 4rem;
    filter: invert(1);
    transition: height 0.2s ease-in;
}

#contact-link1 img:hover,
#contact-link2 img:hover,
#contact-link3 img:hover {
    height: 6rem;
}

h1 {
    text-align: center;
    padding-right: 5.4rem;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
}

input,
textarea,
button {
    width: 80%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
}

input,
textarea {
    background-color: #e0f2ff;
    color: #333;
}

button {
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #003f80;
}

textarea {
    resize: none;
    height: 100px;
}

form {
    width: 80%;
}

.container h1 {
    padding-right: 0;
    width: 100%;
}

@media (max-width: 700px) {
    * {
        text-align: center;
    }

    .name {
        font-size: 4rem;
    }

    .desc {
        font-size: 2rem;
    }

    .aboutdetail {
        font-size: 1.35rem;
        padding-right: 1rem;
    }

    .about img {
        position: relative;
        right: 2rem;
    }

    .p1 {
        justify-content: center;
    }
    
    .p1 * {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container h1 {
        font-size: 2rem;
    }

    .contact-links img{
        height : 2rem;
    }

}

@media (max-width: 800px) {
    .nav {
        justify-content: left;
    }

    .nav ul {
        justify-content: left;
        font-size: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 2.6rem;
    }

    .nav ul li {
        justify-content: center;
        overflow-x: visible;
    }
}

@media (max-width: 1535px) {
    .interests {
        height: auto;
    }

    .right {
        height: 0;
        width: 0;
    }

    #c1,
    #c2,
    #c3,
    #c4,
    #c5 {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .int_text {
        width: 100vw;
    }

    .rustom-cards {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 4vh 6vw;
        gap: 1rem;
        color: whitesmoke;
        font-weight: 700;
    }

    #cr1 {
        background-color: var(--blue-2);
    }

    #cr2 {
        background-color: var(--blue-3);
    }

    #cr3 {
        background-color: var(--blue-4);
    }

    #cr4 {
        background-color: var(--blue-5);
    }

    .rustom {
        height: 12rem;
        width: 12rem;
        border-radius: 3rem;
        box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1535px) {
    .p1 {
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    .rustom {
        visibility: hidden;
        height: 0;
        width: 0;
        box-shadow: none;
    }

    .rustom-cards {
        height: 0;
        width: 0;
    }
    
    .left {
        height: 100vh;
        width: 45rem;
    }

    .int_text {
        position: relative;
        top: 35vh;
    }

    .right {
        height: 100vh;
        width: 45rem;
    }
}