@import url('https://fonts.googleapis.com/css2?family=Anton&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Nunito Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.first_sec {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-image: url("image/bg-image1.jpg");
    background-size: cover;
}

.nav {
    z-index: 2;
    width: 100vw;
    height: 3rem;
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    top: 0;
    background-color: rgba(2, 41, 117, 1);
}

.nav ul {
    display: flex;
    justify-content: right;
    position: relative;
    right: 1rem;
    gap: 4rem;
    align-items: center;
    font-size: 1.8rem;
}

.name {
    z-index: 1;
    text-align: center;
    position: relative;
    font-family: "Nunito Sans", sans-serif;
    font-size: 5rem;
    font-weight: 800;
}

.show {
    height: 40vh;
}

.desc {
    opacity: 0;
    position: relative;
    bottom: 13rem;
    font-size: 2.5rem;
    animation: see 2s cubic-bezier(0.22, 0.91, 0.41, 0.69) 1s forwards;
}

@keyframes see {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
        font-weight: 400;
    }

    100% {
        transform: translateY(14rem);
        opacity: 1;
    }

}

.about {
    display: flex;
    flex-wrap: wrap;
}

.aboutleft {
    width: 60rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.aboutright {
    padding-left: 4rem;
    padding-top: 1rem;
    display: flex;
    justify-content: end;
}

.aboutright img {
    transition: transform 0.1s ease-in 0s;
    border-radius: 0.9rem;
}

.aboutright img {
    height: 80vh;
}



.aboutright img:hover {
    transform: translate(-0.2rem, -0.4rem);
    box-shadow: 0.1rem 0.1rem 0.4rem 0.2rem black;
}

.abouthead {
    font-size: 7rem;
    font-weight: 900;
}

.aboutdetail {
    font-size: 1.5rem;
}

@media (min-width:1535px) {
    .left {
        height: 100vh;
        width: 45rem;
    }

    .int_text {
        position: relative;
        top: 35vh;
    }

    .right {
        height: 100vh;
        width: 45rem;
    }
}

.left {
    text-align: center;
    font-size: 1.6rem;
}


.int_text .heading {
    font-weight: 800;
    font-size: 4rem;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    height: 12rem;
    width: 12rem;
    border-radius: 40px;
    position: absolute;
    top: 217vh;
    right: 15vw;
    text-shadow: 2px 2px 2px grey;
    overflow: hidden;
    transition: all 0.5s ease;
    box-shadow: 0.1rem 0.1rem 0.7rem 0.1rem black;
}

#c1 {
    background-color: #03045E;
    transform: rotate(52deg);

    animation: go1 8s ease-in-out 0s infinite;
}

#c2 {
    background-color: #023E8A;
    transform: rotate(39deg);

    animation: go2 8s ease-in-out 0s infinite;
}

#c3 {
    font-family: "Pixelify Sans", sans-serif;
    background-color: #0077B6;
    transform: rotate(26deg);

    animation: go3 8s ease-in-out 0s infinite;
}

#c4 {
    background-color: #0096C7;
    transform: rotate(13deg);

    animation: go4 8s ease-in-out 0s infinite;
}

#c5 {
    background-color: #00B4D8;
    padding: 0;
}

.interests {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

@keyframes go1 {
    0% {}

    50% {
        transform: translateY(-13rem);
    }

    100% {
        transform: rotate(52deg);
    }
}

@keyframes go2 {
    0% {}

    50% {
        transform: translateX(-13rem);
    }

    100% {
        transform: rotate(39deg);
    }
}

@keyframes go3 {
    0% {}

    50% {
        transform: translateY(13rem);
    }

    100% {
        transform: rotate(26deg);
    }
}

@keyframes go4 {
    0% {}

    50% {
        transform: translateX(14rem);
    }

    100% {
        transform: rotate(13deg);
    }
}

hr {
    position: relative;
    background-color: black;
    height: 0.01rem;
    box-shadow: 0.1rem 0.08rem 0.04rem 0.1px;
}

.skill-title {
    padding-top: 2rem;
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
}

.skill-cards {
    padding-top: 4rem;
    text-align: center;
    padding-left: 1rem;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
    height: 14rem;
    width: 20rem;
    border-radius: 3rem;
    margin-top: 1rem;
    background-color: rgba(0, 0, 100, 0.9);
    z-index: 1;
    box-shadow: 0.1rem 0.2rem 0.6rem 0.1rem black;
}

.skill-1-title {
    transition: opacity 0.2s ease-in;
    position: relative;
    top: 3rem;
    font-family: "JetBrains Mono", monospace;
}

.skill-1-desc {
    transition: opacity 0.2s ease-in 0.2s;
    opacity: 0;
    font-family: "JetBrains Mono", monospace;
}


#skill-card1:hover .skill-1-title {
    opacity: 0;
}

#skill-card1:hover .skill-1-desc {
    opacity: 1;
}


.skill-2-title {
    transition: opacity 0.2s ease-in;
    position: relative;
    top: 3rem;
    font-family: "Pixelify Sans", sans-serif;
}

.skill-2-desc {
    transition: opacity 0.2s ease-in 0.2s;
    opacity: 0;
    font-family: "Pixelify Sans", sans-serif;
}

#skill-card2:hover .skill-2-title {
    opacity: 0;
}

#skill-card2:hover .skill-2-desc {
    opacity: 1;
}


@keyframes expand {
    0% {}

    100% {
        height: 42rem;
    }
}

.proj-title {
    text-align: center;
    padding-top: 2rem;
    font-size: 6rem;
    margin-bottom: 6rem;
    font-weight: 900;
}

.projects hr {
    position: relative;
    left: 10vw;
    background-color: black;
    height: 0.01rem;
    width: 80vw;
    box-shadow: 0.1rem 0.08rem 0.04rem 0.1px;
}

#hr1 {
    left: 0;
}

#hr2 {
    left: 20vw;
}

.p1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.p2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.p3 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.projects img {
    padding-left: 2rem;
    height: 3rem;
}



@keyframes butt {
    0% {}

    100% {
        height: 5rem;
    }
}

.title1 img:hover {
    animation: butt 0.2s linear 0s forwards;
}

.title2 img:hover {
    animation: butt 0.2s linear 0s forwards;
}

.title3 img:hover {
    animation: butt 0.2s linear 0s forwards;
}

.title1 img:active {
    animation: butt 0.2s linear 0s reverse;
}

.title2 img:active {
    animation: butt 0.2s linear 0s reverse;
}

.title3 img:active {
    animation: butt 0.2s linear 0s reverse;
}

.proj-desc {
    text-align: left;
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

.proj-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    height: 12rem;
    width: 30rem;
    border-radius: 40px;
    margin-top: 1rem;
    background-color: rgba(3, 4, 94, 1);
}

#proj-card2 {
    background-color: #00B4D8;
}

.proj-left {
    padding-left: 2rem;
    padding-right: 2rem;
}

.proj-right {
    padding-left: 2rem;
    padding-right: 2rem;

}

.title1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
    color: #03045E;
}

.title2 {
    display: flex;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
    color: #00B4D8;
}

@media (min-width : 1000px) {
    .title1 {
        width: 50vw;
    }

    .title2 {
        width: 50vw;
        justify-content: right;
        padding-right: 3rem;
    }

    .title3 {
        width: 50vw;
        padding-left: 3rem;
    }
}

.title3 {
    display: flex;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
    color: #03045E;
}


.arrow img {
    position: relative;
    right: 1rem;
    width: 18rem;
    height: 12rem;
    border-radius: 2rem;
    padding: 1rem;
}



.link1 {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link2 {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link3 {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects button {
    background-color: rgb(70, 31, 228);
    height: 6rem;
    width: 16rem;
    border: none;
    border-radius: 4rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4rem;
    color: white;
    text-shadow: 0.15rem 0.02rem 0.02rem black;
}

#btn1 {
    background-color: rgb(3, 4, 94);
}

#btn1:hover {
    background-color: rgba(3, 4, 94, 0.9);
}

#btn1:active {
    background-color: rgba(3, 4, 94, 0.8);
}

#btn2 {
    background-color: rgb(0, 119, 182);
}

#btn2:hover {
    background-color: rgba(0, 119, 182, 0.9);
}

#btn2:active {
    background-color: rgba(0, 119, 182, 0.8);
}

#btn3 {
    background-color: rgb(0, 180, 216);
}

#btn3:hover {
    background-color: rgba(0, 180, 216, 0.9);
}

#btn3:active {
    background-color: rgba(0, 180, 216, 0.8);
}

.projects button:hover {
    cursor: pointer;
    height: 7rem;
    width: 18rem;
    font-size: 2.6rem;
}

.projects button:active {
    height: 6rem;
    width: 16rem;
    font-size: 2.4rem;
}

.projects a {
    color: inherit;
    text-decoration: none;
}

.contacts {
    padding-top: 10vh;

    background-image: url("image/bg-image2.jpg");
    color: white;
    font-size: 2rem;
}



.contact-links {
    display: flex;
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
}

@media (min-width:1000px) {
    .contacts ul li {
        padding: 1.5rem 0;
    }
}

.container {
    /* background-color: #007bff; */
    position: relative;
    /* left: 23vw; */
    width: 100%;
    /* max-width: 40vw; */
    color: white;
}


.contact-links img {
    height: 4rem;
    filter: invert(1);
    transition: height 0.2s ease-in;
}

#contact-link1 img:hover {
    height: 6rem;
}

#contact-link2 img:hover {
    height: 6rem;
}

#contact-link3 img:hover {
    height: 6rem;
}




h1 {
    text-align: center;
    padding-right: 5.4rem;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
}

input,
textarea,
button {
    width: 80%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
}

input,
textarea {
    background-color: #e0f2ff;
    color: #333;
}

button {
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #003f80;
}

textarea {
    resize: none;
    height: 100px;
}

.contacts {
    display: block;
    flex-wrap: wrap;
    justify-content: center !important;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 29vw;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

form {
    width: 80%;
}

.container h1 {
    padding-right: 0;
    width: 100%;
}

@media (max-width: 700px) {


    .container h1 {
        font-size: 2rem;
    }
}

@media (max-width: 700px) {
    * {
        text-align: center;
    }

    .name {
        font-size: 4rem;
    }

    .desc {
        font-size: 2rem;
        text-align: center;
    }

    .about {
        flex-wrap: wrap;
    }

    .aboutright {
        display: flex;
    }

    .aboutdetail {
        font-size: 1.35rem;
        text-align: center;
        padding-right: 1rem;
    }

    .about img {
        position: relative;
        right: 2rem;
    }

    .projects img {
        position: relative;
    }

    .p1 {
        justify-content: center;
    }

    .p2 {
        justify-content: center;
    }

    .p3 {
        justify-content: center;
    }

    .title1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title2 {
        flex-wrap: wrap;
    }

    .title3 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title2 {
        justify-content: center;
    }

}

@media (max-width : 1535px) {

    .interests {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .right {
        height: 0;
        width: 0;
    }

    #c1,
    #c2,
    #c3,
    #c4,
    #c5 {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .int_text {
        width: 100vw;
    }

    .rustom-cards {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 6vw;
        padding-right: 6vw;
        padding-top: 4vh;
        padding-bottom: 4vh;
        gap: 1rem;
        color: whitesmoke;
        font-weight: 700;
    }

    #cr1 {
        background-color: #023E8A;
    }

    #cr2 {
        background-color: #0077B6;
    }

    #cr3 {
        background-color: #0096C7;
    }

    #cr4 {
        background-color: #00B4D8;
    }

    .rustom {
        height: 12rem;
        width: 12rem;
        border-radius: 3rem;
        box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem black;

        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width : 800px) {
    .nav {
        display: flex;
        justify-content: left;
    }

    .nav ul {
        display: flex;
        justify-content: left;
        font-size: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 2.6rem;
    }

    .nav ul li {
        display: flex;
        justify-content: center;
        overflow-x: visible;
    }

}

@media (min-width:1535px) {
    .p1 {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .p2 {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .p3 {
        flex-wrap: nowrap;
        justify-content: center;
    }
}

@media (min-width:1535px) {
    .rustom {
        visibility: hidden;
        height: 0;
        width: 0;
        box-shadow: none;
    }

    .rustom-cards {
        height: 0;
        width: 0;
    }
}

@media (max-width:1535px){
    .p1{
        justify-content: center;
    }
    .p2{
        justify-content: center;
    }
    .p3{
        justify-content: center;
    }
}