@import url('https://fonts.googleapis.com/css2?family=Anton&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Nunito Sans", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.first_sec{
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-image: url("image/bg-image1.jpg");
    background-size: cover;
}

.nav{
    z-index: 1;
    width: 100vw;
    height: 3rem;
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    top : 0;
    background-color: rgba(2, 41, 117, 0.7);
}

.nav ul{
    display: flex;
    justify-content: right;
    position: relative;
    right : 1rem;
    gap: 4rem;
    align-items: center;
    font-size: 1.8rem;
}

.name{
    text-align: center;
    position: relative;
    font-family: "Nunito Sans", sans-serif;
    font-size: 5rem;
    font-weight: 800;
}

.show{
    height : 40vh;
}

.desc{
    opacity: 0;
    position: relative;
    bottom: 2rem;
    font-size: 2.5rem;
    animation: see 7s cubic-bezier(0.22, 0.91, 0.41, 0.69) 0s forwards;
}

@keyframes see{
    0%{
        opacity: 0;
    }
    40%{
        opacity: 1;
        font-weight: 400;
    }
    100%{
        transform: translateY(3rem);
        opacity: 1;
    }

}

.about{
    display: flex;
    flex-wrap: wrap;
}

.aboutleft{
    height : 60vh;
    width : 60rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.aboutright{
    padding-left: 4rem;
    padding-top: 1rem;

}

.aboutright img{
    height : 60vh;
    border-radius: 0.9rem;
}

.abouthead{
    font-size: 7rem;
    font-weight: 600;
}

.aboutdetail{
    font-size: 1.5rem;
}


@media (max-width: 700px ) {
        *{
            text-align: center;
        }
        .title1{
            padding-left: 2rem;
        }
        .title2{
            padding-left: 2.5rem;
        }
        .nav{
            display: flex;
            justify-content: left;
        }
        .nav ul{
            display: flex;
            justify-content: left;
            font-size: 0.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            gap: 2.6rem;
        }
        .nav ul li{
            display: flex;
            justify-content: center;
            overflow-x: visible;
        }
        .name{
            font-size: 4rem;
        }
        .desc{
            font-size: 2rem;
            text-align: center;
        }
        .about{
            flex-wrap: wrap;
        }
        .aboutright{
            display: flex;
        }
        .aboutdetail{
            font-size: 1.35rem;
            text-align: center;
            padding-right: 1rem;
        }
        .interests{
            overflow-y: hidden;
            flex-wrap: wrap;
        }
        .cards{
            justify-content: center;
            font-size: 1rem;
            font-weight: 100;
            height : 8rem;
            width : 8rem;
            position: relative;
            top : 12rem;
            }
        #c1 , #c2 , #c3 , #c4 , #c5{
            position: absolute;
            top : 285vh;
            right : 3.5rem;
            transform: none !important;
            text-align: center;
        }
        #c2{
            right: 17rem;
        }
        #c3{
            right: 17rem;
            top : 304vh;
        }
        #c4{
            top : 304vh;
        }
        #c1{
            visibility: hidden;
        }

        .about img{
            position: relative;
            right : 2rem;
        }

        .contactlinks{
            padding-left: 7rem;
            gap: 0.5rem;
        }



}

.left{
    height: 100vh;
    width: 45rem;
    text-align: center;
    font-size: 1.6rem;
}

.int_text{
    position: relative;
    top : 35vh;
}

.int_text .heading{
    font-weight: 800;
    font-size: 4rem;
}

.right{
    height: 100vh;
    width: 45rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    height: 12rem;
    width: 12rem;
    border-radius: 40px;
    position : absolute;
    top  : 194vh;
    right: 15vw;
    text-shadow: 2px 2px 2px grey;
    overflow: hidden;
    transition: all 0.5s ease;
}

#c1{
    background-color: #03045E;
    transform: rotate(52deg);

    animation: go1 8s ease-in-out 0s infinite;
}
#c2{
    background-color: #023E8A;
    transform: rotate(39deg);

    animation: go2 8s ease-in-out 0s infinite;
}
#c3{
    font-family: "Pixelify Sans", sans-serif;
    background-color: #0077B6;
    transform: rotate(26deg);

    animation: go3 8s ease-in-out 0s infinite;
}
#c4{
    background-color: #0096C7;
    transform: rotate(13deg);
    
    animation: go4 8s ease-in-out 0s infinite;
}
#c5{
    background-color: #00B4D8;
    padding: 0;
}

.interests{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

@keyframes go1{
    0%{
    }
    50%{
        transform: translateY(-13rem) ;
    }
    100%{
        transform: rotate(52deg);
    }
}

@keyframes go2{
    0%{
    }
    50%{
        transform: translateX(-13rem) ;
    }
    100%{
        transform: rotate(39deg);
    }
}

@keyframes go3{
    0%{
    }
    50%{
        transform: translateY(13rem) ;
    }
    100%{
        transform: rotate(26deg);
    }
}

@keyframes go4{
    0%{
    }
    50%{
        transform: translateX(14rem) ;
    }
    100%{
        transform: rotate(13deg);
    }
}

hr{
    position: relative;
    background-color: black;
    height: 0.01rem;
    box-shadow: 0.1rem 0.08rem 0.04rem 0.1px;
}

.skilltitle{
    font-size: 6rem;
    font-weight: 900;
}

.skillcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
}

.skillcards{
    padding-top: 4rem;
    text-align: center;
    padding-left: 1rem;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
    height: 14rem;
    width: 20rem;
    border-radius: 40px;
    margin-top: 1rem;
    background-color: rgba(0, 0, 100, 0.9);
    z-index: 1;
}

.skill1title{
    transition: opacity 0.5s ease-in ;
    position: relative;
    top: 3rem;
    font-family: "JetBrains Mono", monospace;
}
.skill1desc{
    transition: opacity 0.5s ease-in 0.5s;
    opacity: 0;
    font-family: "JetBrains Mono", monospace;
}


#skillcard1:hover .skill1title{
    opacity: 0;
}
#skillcard1:hover .skill1desc{
    opacity: 1;
}


.skill2title{
    transition: opacity 0.5s ease-in ;
    position: relative;
    top: 3rem;
    font-family: "Pixelify Sans", sans-serif;
}
.skill2desc{
    transition: opacity 0.5s ease-in 0.5s;
    opacity: 0;
    font-family: "Pixelify Sans", sans-serif;
}

#skillcard2:hover .skill2title{
    opacity: 0;
}
#skillcard2:hover .skill2desc{
    opacity: 1;
}


@keyframes expand {
    0%{}
    100%{
        height: 42rem;
    }
}

.projtitle{
    font-size: 6rem;
    margin-bottom: 6rem;
    font-weight: 900;
}

.projects hr{
    position: relative;
    left: 10vw;
    background-color: black;
    height: 0.01rem;
    width: 80vw;
    box-shadow: 0.1rem 0.08rem 0.04rem 0.1px;
}

#hr1{
    left:0;
}
#hr2{
    left:20vw;
}

.p1{
    display: flex;
    flex-wrap: wrap;
}
.p2{
    display: flex;
    flex-wrap: wrap;
}
.p3{
    display: flex;
    flex-wrap: wrap;
}

.projects img{
    height: 6rem;
}

@media (min-width:1000px){
    .p1{
        height : 30vh;
    flex-wrap: nowrap;
    }
    .p2{
        height : 30vh;
        flex-wrap: nowrap;
    }
    .p3{
        height : 30vh;
        flex-wrap: nowrap;
    }
}

@keyframes butt {
    0%{
    }
    100%{
        height: 8rem;
    }
}

.projects img:hover{
    animation: butt 0.2s linear 0s forwards;
}

.projects img:active{
    animation: butt 0.2s linear 0s reverse;
}

.projcards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    height: 12rem;
    width: 30rem;
    border-radius: 40px;
    margin-top: 1rem;
    background-color: rgba(3, 4, 94, 1);
}

#projcard2{
    background-color: #00B4D8;
}

.title1{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
    color: #03045E;
}

.title2{
    width: 50vw;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    font-size: 5rem;
    justify-content: right;
    font-weight: 700;
    color: #00B4D8;
}
.title3{
    width: 50vw;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
    color: #03045E;
}

.arrow{
    font-size: 5rem;
}

.link1{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link2{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link3{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects button{
    background-color: rgb(70, 31, 228);
    height: 6rem;
    width : 16rem;
    border: none;
    border-radius: 4rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4rem;
    color: white;
    text-shadow: 0.15rem 0.02rem 0.02rem black;
}

#btn1{
    background-color: rgb(3, 4, 94);
}
#btn1:hover{
    background-color: rgba(3, 4, 94 , 0.9);
}
#btn1:active{
    background-color: rgba(3, 4, 94 , 0.8);
}
#btn2{
    background-color: rgb(0, 119, 182);
}
#btn2:hover{
    background-color: rgba(0, 119, 182 , 0.9);
}
#btn2:active{
    background-color: rgba(0, 119, 182 , 0.8);
}
#btn3{
    background-color: rgb(0, 180, 216);
}
#btn3:hover{
    background-color: rgba(0, 180, 216 , 0.9);
}
#btn3:active{
    background-color: rgba(0, 180, 216 , 0.8);
}

.projects button:hover{
    cursor: pointer;
    height: 7rem;
    width : 18rem;
    font-size: 2.6rem;
}

.projects button:active{
    height: 6rem;
    width : 16rem;
    font-size: 2.4rem;
}

.projects a{
    color: inherit;
    text-decoration: none;
}

.contacts{
    padding-top: 10vh;
    padding-left: 10vw;
    background-image: url("image/bg-image2.jpg");
    color: white;
    font-size: 2rem;
}

.contacts ul li{
    padding: 1vh 0;
}

.contactlinks{
    display: flex;
    justify-content: space-around;
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    position: relative;
    left : -5rem;
}

#contactlink1{
    transition: font-size 0.5s ease-in;
}
#contactlink2{
    transition: font-size 0.5s ease-in;
}
#contactlink3{
    transition: font-size 0.5s ease-in;
}

#contactlink1:hover{
    font-size: 2.4rem;
}
#contactlink2:hover{
    font-size: 2.4rem;
}
#contactlink3:hover{
    font-size: 2.4rem;
}



.container {
    /* background-color: #007bff; */
    width: 100%;
    max-width: 40vw;
    color: white;
  }
  
  h1 {
    text-align: left;
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  input, textarea, button {
    width: 80%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
  }
  
  input, textarea {
    background-color: #e0f2ff;
    color: #333;
  }
  
  button {
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    width: 85%;
  }
  
  button:hover {
    background-color: #003f80;
  }
  
  textarea {
    resize: none;
    height: 100px;
  }
  
  @media (max-width: 600px) {
    .container {
      width: 100%;
      position: relative;
      left: 6rem;
    }
    .container h1{
        font-size: 2rem;
    }
  }
  